
html, body { 
    height: 100%; 
    padding: 0; 
    margin: 0px; 
}
#div1, #div2, #div3, #div4 {  
    width: 50%; 
    height: 45%; 
    float: left;
}

#div1 {
    background: #DDD; 
}

#div2 {
    background: #bbb; 
}

#div3 {
    background: #aaa; 
}

#div4 {
    background: #444; 
}

header {
    height: 10%;
}

header .row{

    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    height: 100%;
}

header h1 {
    font-weight: 700;
    background-color: white;
    margin:0;
    padding-top: 3%;
}

header nav {
    padding-top: 4%;
    /* background-color: #ccc; */
}

header p {
    margin:0;
}
