.flex-container {
  display: flex; 
  flex-flow: column nowrap; /* shorthand for flex-direction and flex-wrap */
  align-content: center; 
  height: auto;
}
.flex-item {
  flex: 0 0 auto; /* shorthand for flex-grow flex-shrink flex-basis */
  width: 100%;	
  margin: .25em;
  padding: .5em;
}
@media screen and (min-width: 40.5em) {
  .flex-container {
    flex-flow: column wrap; /* trigger columnns */
    height: 58em; 
  }
  .flex-item {
    width: 50%; /* 2 col */
  }
}
@media screen and (min-width: 60.5em) {
  .flex-container {
    height: 43em;
  }
  .flex-item {
    width: 33.333%; /* 3 col */
  }
} 
/* arbitrary heights set for each .flex-item */